body {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}

.logomobile {
  display: none;
}

.menumobile {
  display: none;
}

.header-mobile {
  width: 100%;
  position: absolute;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
}

.desktop-header {
  display: flex;
  width: 100%;
  position: absolute;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.desktop-nav {
  position: absolute;
  display: flex;
  left: 490px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.nav > li {
  justify-content: space-between;
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.hello {
  display: flex;
  position: absolute;
  width: 100%;
}

.intro > h1 {
  position: absolute;
  width: 484px;
  height: 220px;
  left: 160px;
  top: 292px;
  font-family: 'Playfair Display' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
}

.intro > p {
position: absolute;
width: 484px;
height: 84px;
left: 160px;
top: 572px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
color: #1A2236;
letter-spacing: -1%;
}

.btnstart {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 70px;
  left: 160px;
  top: 715px;
  background: #1A2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}

.dots {
  display: flex;
  position: absolute;
  left: 563px;
  top: 802px;
  width: 175px;
  height: 175px;
}

.image-geometri1 {
  display: flex;
  position: absolute;
  width: 702px;
  height: 877px;
  left: 738px;
  top: 100px;
}

.project {
  display: flex;
  position: absolute;
  width: 100%;
}
.project-tit {
  display: flex;
  position: absolute;
  top: 1245px;
} 

.project-tit > h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  color: #1A2236;
  transform: rotate(-90deg);
}

.dots-project > .dotsproject {
  display: flex;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 305px;
  top: 1187px;
}

.project1 {
display: flex;
position: absolute;
width: 960px;
height: 558px;
left: 480px;
top: 1187px;
}

.retangule46 {
display: flex;
position: absolute;
width: 465px;
height: 270px;
left: 0px;
top: 1825px;
border: 1px solid rgba(255, 255, 255, 0.1);
}

.retangule25 {
display: flex;
position: absolute;
width: 465px;
height: 270px;
left: 975px;
top: 1745px;
border: 1px solid rgba(255, 255, 255, 0.1);
}

.retangule26 {
display: flex;
position: absolute;
width: 465px;
height: 270px;
left: 975px;
top: 2015px;
border: 1px solid rgba(255, 255, 255, 0.1);
}

.retangule27 {
  display: flex;
  position: absolute;
  width: 800px;
  height: 465px;
  left: 0px;
  top: 2095px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.retangule47 {
  display: flex;
  position: absolute;
  width: 465px;
  height: 270px;
  left: 799px;
  top: 2560px;
}

.imagegeometry2 {
  display: flex;
  position: absolute;
  width: 511px;
  height: 350px;
  left: 464px;
  top: 1745px; 
}

.imagegeometry3 {
display: flex;
position: absolute;
width: 639.75px;
height: 275.42px;
left: 800px;
top: 2285px; 
}

.imagegeometry4 {
display: flex;
position: absolute;
width: 87px;
height: 87px;
left: 713px;
top: 2560px;
}

.imagegeometry5 {
display: flex;
position: absolute;
width: 211.7px;
height: 124.04px;
left: 0px;
top: 2560px; 
}

.imagegeometry6 {
  display: flex;
  position: absolute;
  width: 263.06px;
  height: 350.84px;
  left: 0px;
  top: 3782px; 
}

.imagegeometry7 {
  display: flex;
  position: absolute;
  width: 350px;
  height: 350px;
  left: 1089px;
  top: 4378px; 
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  width: 289px;
  left: 220px;
  top: 3046px;
}

.grid-item h3 {
font-family: 'Poppins', sans-serif;
align-content: left;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 30px;
color: #fff;
text-align: left;
}
  
.grid-item {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  text-align: left;
  color: #fff;
}

.techprof {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 160px;
  background: #1c528a;
  background-image: url(images/tralha.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.frameworks {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 449px;
  background: #e2505c;
  background-image: url(images/Group18.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.skills {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 160px;
  top: 300px;
  background: #febf52;
  background-image: url(images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.dots-teal {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 449px;
  top: 300px;
  background-image: url(images/image_dots_with_teal.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;  
}

.about {
  display: flex;
  position: absolute;
  width: auto;
  position: absolute;
  width: 295px;
  height: 110px;
  left: 834px;
}

.about-tit {
  display: flex;
  position: absolute;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  color: #1A2236;
}

.about-text {
  display: flex;
  position: relative;
  position: absolute;
  width: 446px;
  height: 84px;
  top: 100px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1A2236;
}

.btncv {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 70px;
  top: 345px;
  background: #1A2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;  
}

.get-started {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: #F9F9FA;
}

.started-tit > h1 {
  display: flex;
  position: absolute;
  width: 548px;
  height: 110px;
  left: 446px;
  top: 3850px;
  font-family: 'Playfair Display' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  color: #1A2236;
}

.started-tit > p {
  display: flex;
  position: absolute;
  width: 548px;
  height: 63px;
  left: 446px;
  top: 4070px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1A2236;
  letter-spacing: -1%;
}

.formcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  position: absolute;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: 360px;
  left: 446px;
  top: 4170px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  align-items: center;
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #7D7C84;
}

input[type=text]{
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #7D7C84;
  padding: 12px 15px;
  margin: 8px 0;
  width: 253px;
  height: 60px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #252C40;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
   font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #7d7c84;
  resize: none;
}

.btnsend {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 70px;
  left: 160px;
  top: 315px;
  background: #1A2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}

.footer {
position: absolute;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1440px;
height: 123px;
left: 240px;
top: 4729px;
background: #1A2236;
}

.footer > .btncv {
  position: absolute;
  display: flex;
  width: 254px;
  height: 70px;
  left: 160px;
  top: 30px;  
}

.media-share {
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 50px;
  width: 350px;
  left: 984px;
  height: 26.93px;
}

@media screen and (min-width: 0) and (max-width: 450px) {
  body{
    display: block;
    padding: 0;
    width: auto;
  }
  
  .desktop-header {
    display: none;
  }
  
  .hello {
    display: none;
  }
  
  .project {
    display: none;
  }

  .about-page {
    display: none;
  }

  .get-started {
    display: none;
  }

  .footer {
    display: none;
  }
  
  .navbar .ic_menu {
    display: flex;
  }

  .logomobile {
    display: flex;
  }
  
  .menumobile {
    display: flex;
    padding-right: 20px;
  }

  .mobile-hello {
    display: flex;
  }

  .mobile-hello > .intro h1 {
    position: absolute;
    width: 220px;
    height: 100px;
    left: 16px;
    top: 104px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1A2236
  }

  .mobile-hello > .intro p {
    position: absolute;
    width: 288px;
    height: 126px;
    left: 16px;
    top: 224px; 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
  }

  .mobile-hello > .intro .btnstart {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 320px;
    padding: auto;
    height: 50px;
    left: 20px;
    top: 390px;
    background: #1A2236;
  }

  .mobile-hello > .image_geometry_2 {
    display: flex;
    position: absolute;
    width: auto;
    top: 472px;
    left: 20px;
  }

  .mobile-projecttit h1 {
    position: absolute;
    width: 181px;
    height: 50px;
    left: 16px;
    top: 672px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1A2236;
  }

  .mobile-project1 {
    display: flex;
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 754px;
  }

  .mobile-retangule22 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 1096px;
  }

   .mobile-retangule22 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 1096px;
  }

  .mobile-retangule27 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 1438px;
  }

  .mobile-retangule47 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 1780px;
  }

  .mobile-retangule26 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 2122px;
  }

  .mobile-retangule25 {
    position: absolute;
    width: 320px;
    height: 186px;
    left: 0px;
    top: 2464px;
  }

  .mobile-ret21 {
    position: absolute;
    width: 315px;
    height: 156px;
    left: 0px;
    top: 186px;  
    background: #1A2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .mobile-ret21 > .ret21 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #FFFFFF;
  }

  .overdescription > li {
    display: flex;
    text-decoration: none;
    list-style: none;
    float: left;
    margin: 0 10px;
    justify-content: center;
    align-items: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #1a2236;
    width: 69px;
    height: 25px;
    background: #98dede;
    flex-direction: column;
    text-decoration: none;
    /* positi  on: relative;*/
    font-weight: 300;
    font-size: 10.3334px;
    line-height: 80%;
  }

  .btnseethis {
    background: rgb(219, 218, 218);
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    color: #1a2236;  
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    width: 178px;
    height: 44px;
    margin-left: 6.2%;
    margin-top: 20%;
    text-decoration: none;
  }

  .mobile-about > {
    display: flex;
    position: absolute;
    width: auto;
    position: absolute;
    width: 295px;
    height: 110px;
  }

  .mobile-about-tit {
    display: flex;
    position: absolute;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1A2236;
    left: 16px;
    top: 2850px;
  }

  .mobile-about-text {
    display: flex;
    position: absolute;
    text-align: justify;
    width: 288px;
    height: 126px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1A2236;
    top: 1470px;
  }

  .mobile-btncv {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 50px;
    left: 16px;
    top: 345px;
    background: #1A2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    top: 3090px; 
  }

  .mobile-skills {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }

  .img1 {
    display: flex;
    position: absolute;
    left: 16px;
    top: 3100px;
  }

  .img2 {
    display: flex;
    position: absolute;
    left: 16px;
    top: 3400px;
  }

  .img3 {
    display: flex;
    position: absolute;
    left: 16px;
    top: 3700px;
  }

  .logomobile2 {
    display: flex;
    position: absolute;
    left: 15px;
  }

  .mobile-get-started {
    position: absolute;
    width: 320px;
    height: 813px;
    left: -2px;
    top: 4129px;
    background: #F9F9FA;
  }

  .mobile-get-started > .mobile-started-tit h1{
    display: flex;
    position: absolute;
    width: 249px;
    height: 50px;
    left: 20px;
    top: 70px;
    font-family: 'Playfair Display' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1A2236;
  }

  .mobile-get-started > .mobile-started-tit p{
    display: flex;
    position: absolute;
    width: 288px;
    height: 63px;
    left: 16px;
    top: 170px;
    font-family: 'Playfair Display' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
  }
     
    .mobile-get-started > .mobile-formcontainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .mobile-form {
    position: absolute;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 288px;
    height: 360px;
    top: 250px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
    
    label {
    align-items: center;
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #7D7C84;
    }
    
    input[type=text]{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #7D7C84;
    padding: 12px 15px;
    margin: 8px 0;
    width: 288px;
    height: 60px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #252C40;
    box-sizing: border-box;
    border-radius: 4px;
    }
    
    textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
     font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #7d7c84;
    resize: none;
    }
    
    .mobile-btnsend {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 44px;
    left: 20px;
    top: 400px;
    background: #1A2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    }

    .mobile-footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 320px;
    height: 150px;
    left: 0px;
    top: 4900px;
    background: #1A2236;
    }
    
     .mobile-footer > .mobile-btncv {
      position: relative;
      display: flex;
      font-size: 16px;
      width: 150px;
      height: 34px;
      left: 16px;
      top: 30px;  
    }
    
    .mobile-media-share {
      justify-content: space-between;
      display: flex;
      position: absolute;
      top: 70px;
      width: 288px;
      height: 24px;
      left: 16px;

    }
  }