html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  height: 4852px;
  background: #fff;
}

.desktop-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 100px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  color: #1a2236;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.webcontainer {
  position: absolute;
  width: 484px;
  height: 493px;
  left: 160px;
  top: 292px;
}

.webcontainer .left h1 {
  height: 220px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
}

.webcontainer .left p {
  height: 84px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.retangule {
  width: 254px;
  height: 70px;
  background: #1a2236;
  align-items: center;
}

.webcontainer .retangule p {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  margin: 21px 25px;
  padding: 0 20px;
}

.right {
  position: absolute;
  width: 702px;
  height: 877px;
  left: 738px;
  top: 100px;
}

.dots {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 563px;
  top: 802px;
}

/* Start Mobile version hided components */

.desktop-nav .menu-icon {
  display: none;
}

.desktop-nav .logo-mobile {
  display: none;
}

.imgindexmobile {
  display: none;
}

/* End Mobile version hided components */

@media screen and (min-width: 0) and (max-width: 450px) {
  body {
    padding: 0;
    width: auto;
  }

  .right {
    display: none;
  }

  .dots {
    display: none;
  }

  .desktop-nav .menu-items {
    display: none;
  }

  /* End hide desktop items version */

  .desktop-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 70px;
    background: #fff;
  }

  .desktop-nav .menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 14px;
    left: 335px;
  }

  .desktop-nav .logo-mobile {
    display: block;
    position: relative;
  }

  .webcontainer {
    display: flex;
    width: 335px;
    height: 200px;
    left: 16px;
    top: 16px;
  }

  .webcontainer .left h1 {
    position: absolute;
    width: 220px;
    height: 100px;
    left: 16px;
    top: 104px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .webcontainer .left p {
    position: absolute;
    width: 270px;
    height: 100px;
    left: 16px;
    top: 224px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .webcontainer .retangule {
    display: flex;
    position: relative;
    width: 388px;
    height: 50px;
    top: 380px;
    background: #1a2236;
  }

  .webcontainer .retangule p {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    left: 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff; 
  }

  body .imgindexmobile {
    display: flex;
    position: relative;
    width: 380px;
    height: 190px;
    top: 400px;
  }
}
